.DS_Store
/.build
/Packages
.swiftpm/
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Thumbs.db
*.tmp
*.swp
.vscode/
.idea/
.codex/
.rtk/
.claude/
.agents/